<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p><h1>Bienvenidos a  <%= title %></h1></p>
    <p>¡El portal donde podra crear sus propios juegos!</p>
    
  </body>
</html>
