<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    
  </head>
  <body>
    <p><h3>Bienvenidos a  <%= title %></h3></p>
    <p>¡El portal donde podra crear sus propios juegos!</p>
    
    
  </body>
</html>
